Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !/robots.txt
RewriteCond %{REQUEST_FILENAME} !/favicon.ico
RewriteRule ^ public/index.html [QSA,L]
RewriteRule ^robots.txt public/robots.txt
RewriteRule ^favicon.ico public/favicon.ico